body {
	font-family: Arial, sans-serif;
	text-align: center;
	background-color: #282c34;
	color: white;
}
.container {
	max-width: 500px;
	margin: 20px auto;
	padding: 20px;
	background-color: #3b3f47;
	border-radius: 10px;
}
#left-container {
	float: left;
	width: 50%;
}
#right-container {
	float: right;
	width: 50%;
}

.buttons button {
	margin: 5px;
	padding: 10px;
	font-size: 16px;
	background-color: #61dafb;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#remove-buttons button { background-color: #1565c0; } /* Slightly darker blue for remove buttons */

button:hover { filter: brightness(1.2); }


.op-box, .final-box {
	margin: 10px;
	padding: 10px;
	font-size: 18px;
	background-color: #444;
	border-radius: 5px;
}
.final-box {
	font-size: 22px;
	font-weight: bold;
	background-color: #ff9800;
}
